@import 'normalize.less';
@import 'elements.less';

/** Colors */
@primary-color: #9C27B0;
@secondary-color: #aa00ff;
@primary-link-color: #ce93d8;
@secondary-link-color: #ce93d8;

body {
    min-height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    color: #2c3e50;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, @primary-color, @primary-color 40vh, #F5F5F5 40vh, #F5F5F5);
}

a {
    text-decoration: none;
}

.container {
    position: relative;
    -webkit-animation: slideup 1s;
    -moz-animation: slideup 1s;
    animation: slideup 1s;
}

.page {
    margin: 20vh auto 30px;
    padding: 15px;
    max-width: 600px;
    background-color: #fff;
    border-radius: 5px;
    .drop-shadow(0, 2px, 5px, 0.26);
}

.name {
    margin: 0;
    font-weight: 400;
    font-size: 40px;
    line-height: 200%;
    color: @primary-color;
    text-align: right;
}

.about-me {
    line-height: 150%;
}


.another-title {
    margin: 0;
    font-weight: 200;
    font-size: 28px;
    color: @secondary-color;

    &.title-404 {
        text-align: center;
    }
}

.item {
    margin-bottom: 30px;

    .list-container {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 5px 0;
        }

        a {
            display: block;
            position: relative;
            color: #919899;
            .transition(0.7s);

            &:hover {
                color: @primary-link-color;
            }

            .date {
                position: absolute;
                right: 0;
                font-style: italic;
            }
        }
    }

    .more-link {
        text-align: center;

        a {
            color: @secondary-link-color;
        }
    }
}

.divider {
    margin: 0 auto 30px;
    border-bottom: 1px dashed @secondary-link-color;
}

.social {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;

    li {
        display: inline;
        padding: 5px 10px;
    }

    a {
        color: @secondary-link-color;
    }
}

.format {
    display: block;
    margin-bottom: 35px;
    text-align: center;

    a {
        color: @secondary-color;
    }
}

@keyframes slideup {
    from {
        top: 1000px;
    }

    to {
        top: 0px;
    }
}

@-webkit-keyframes slideup {
    from {
        top: 1000px;
    }

    to {
        top: 0px;
    }
}

@media all and (max-width: 400px) {
    .date {
        display: none;
    }
}